.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex: 1;
}

button {
  padding: 5px;
  text-align: center;
  display: inline-block;
}

button:hover {
  cursor: pointer;
}

.cereal-column {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex: 1;
  margin-right: 2%;
}
